*{
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.anchor-link {
  scroll-margin-top: 150px;
}
section {
  margin-bottom: 80px;
}
@media screen and (min-width:768px){
  .anchor-link {
    scroll-margin-top: 200px;
  }
  
}